@{
    ViewData["Title"] = "Home Page";
}

<div class="custom-container">
    <div class="hero">
        <div class="hero-left">
            <h1 class="hero-statement">Giving your books a new lease of life.</h1>
            <div class="her-substatement">We connect you with user's that are also looking to part with no longer needed books.</div>
            <button class="login">Sign-up</button>
        </div>
        <div class="hero-right">
            <img src="https://images.unsplash.com/photo-1510917087081-51e33cdcc51b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
        </div>
    </div>
</div>




